<%- include('./partials/header') %>

<script src="https://kit.fontawesome.com/14c2dd8ee8.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../stylesheets/contacto.css">
<div class="contacto-container">
    <div class="contact-wrapper">
    <h1 class="titulo-contacto">Nosotros</h1>
        <div class="contact">
            <p>Veva es una empresa dedicada a la venta y distribucion de bebidas alcoholicas. Dedicados a brindar el mejor servicio desde el 2005.
                Tenemos excelentes precios en lo que es venta mayorista y contamos con un area de asesoramiento para tu local o bar, no dudes en consultarnos.
            </p>
                    
        </div>
    </div>
</div>

            <div class="nosotros">
            <h3>Contactanos</h3>
    <div class="contacto">
        <p>
            <i class="fas fa-phone-alt"> 11 6183-7575</i>
        </p>
        <p>
            <i class="far fa-envelope"> veva1012@gmail.com</i>
        </p>
        <p>
            <i class="fas fa-map-marker-alt"> Av. Libertador 16560</i>
        </p>
    </div>

<div class="redes">
<img src="img/ig.png" alt="" class="redes-logo">

<img src="img/fb.png" alt=""
class="redes-logo">

</div>


<div>

    <h3>Horarios</h3>


<div class="horarios">
    <p>
        Lunes a Sabado de 12:30 a 23:30
        Domingos CERRADO
    </p>
  
</div>

</div>



       

    

</div>
</div>
<%- include('./partials/footer') %> 