<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/productCart.css">

        <h1>Carrito de compras</h1> 
<section class="section-compra">
    
<article class="articulo-compra">
    <div class="carrito-compra">
        <img src="/images/fernando.png" alt="" class="carrito-compra-img">
    </div>

<h3 class="htres-compras">Ferenet Branca</h3>

</article>
<article class="articulo-compra">
<div class="boton-compra"><a href="#" class="boton-vinculo">Insertar Cupon</a>
</div>
<a href="#" class="compras-detalles">Eliminar</a>
<h5 class="hcinco-compras-items">Unidades: <span>1</span></h5>
<h5 class="hcinco-compras-items">Subtotal: <span>$$</span></h5>
<h5 class="hcinco-compras-items">Envio: <span>$$</span></h5>


<div class="total"> 
<h5 class="hcinco-compras">Total: <span>$$</span></h5>
</div>

<div class="boton-finalizar"><a href="#"class="boton-vinculo">Finalizar Compra</a>
</div>
</article>
</section>

<%- include('./partials/footer') %>