

<footer>
    <link rel="stylesheet" href="../../stylesheets/footer.css">


<div class="brand">
    <h3 class="veva">VEVA 1012</h3>
</div>

<div class="redes">
<img src="../../images/ig1.png" alt="" class="redes-logo">

<img src="../../images/fb1.png" alt=""
class="redes-logo">
</div>

</div>




</footer>

</body>
</html>
